<div class="my-4">
    <h3>Lista de Productos</h3>
</div>
<div style="width: 100%;">
<hr>
</div>
<div class="container">
    <ul class="row list-product">
        <li *ngFor="let product of lista" class="mx-2 my-2" style="width: auto;">
            <div class="container card px-1">
                <div class="card-body">
                    <div class="media ">
                        <div class="media-body">
                            <img class="rounded mx-auto d-block" id="product-image" src="{{product.images}}">
                            <hr class="mb-1">
                            <div class="info-product">
                                <div>
                                    <h5>{{product.name}}</h5>
                                </div>
                                <div class="">
                                    <span class="">{{product.description}}</span>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6>Precio:</h6>
                                    </div>
                                    <div class="col">
                                        <span>COP: ${{product.price}}</span>
                                    </div>
                                    <div class="col">
                                        <span>USD: ${{product.priceUSD}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>